@import '../../variables';

.media-gallery {
    &__container {
        margin: 0 50px 0 12px;
    }

    &__skeleton {
        background-color: map-get($theme-colors, 'universal-shade-6');
        height: 400px;
        width: 400px;
    }
}
