@import './PencilBannerVariables';
@import '../../variables';

.pencil-banner-container {
    width: 100vw;
    background-color: $pencil-banner-background;
    color: $pencil-banner-primary-font-color;
    font-size: 0.75rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;

    &__image {
        width: 8.1875rem;
        height: 0.625rem;
        margin-top: 1.4em
    }
}
