$gutter-mobile: 16px !default;
$tablet-min-width: 768px !default;
$tablet-max-width: 1279.9px !default;
$mobile-max-width: 767px !default;
$mobile-xs-width: 355px !default;
$mobile-min-width: 1px !default;
$gutter-medium-device-number: 24 !default;
$gutter-medium-device: $gutter-medium-device-number + px !default;
$desktop-min-width: 1024px !default;
$desktop-min-wide-width: 1280px !default;
